[submodule "Part 03_Building A Reproducible Model Workflow - build-ml-pipeline-for-short-term-rental-prices"]
	path = Part 03_Building A Reproducible Model Workflow - build-ml-pipeline-for-short-term-rental-prices
	url = https://github.com/lcwcharles/build-ml-pipeline-for-short-term-rental-prices.git
